/* 
    Created on : 18 nov. 2014, 08:39:19
    Author     : maxime.salido
*/

html
{
    background-image:url(../imgs/bg.png);
    height: 100%;
}

body
{
    height: 100%;
    min-height:100%;

    background: none;
}

#wrapper
{
    height: 100%;
    min-height:100%;
}

#content
{
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-color: lightgray;
    background-color: white;

    padding: 10px;
    margin-bottom: 15px;
}

h4
{
    border-top: 1px dotted #000;
    text-align: right;
    color: lightgray;
    font-style: italic;
}


#div-poly input
{
    max-width: 50px;
}

#p-result2
{
    color: grey;
}

.matrix-title
{
    min-width: 36px;
}

.matrix
{
    display: inline-block;
    position: relative;
    padding: 8px;
}

.matrix:before
{
    content: "";
    position: absolute;
    left: -6px;
    top: 0;
    border: 1px solid #000;
    border-right: 0px;
    width: 6px;
    height: 100%;
}

.matrix:after
{
    content: "";
    position: absolute;
    right: -6px;
    top: 0;
    border: 1px solid #000;
    border-left: 0px;
    width: 6px;
    height: 100%;
}

.matrix input[type="text"]
{
    width: 48px;
    height: 48px;
    text-align: center;
    border: none;
}

table.matrix td
{
    min-width: 48px;
    border: lightgray dashed 1px
}

#only-output-integer
{
    padding-left: 20px;
}

#only-output-integer input
{
    margin: 2px;
}

.fieldset-options
{
    margin: 0 auto 15px auto;
    padding: 10px;
    border: 1px double;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.fieldset-options > legend
{
    text-align: center;
    padding-top: 20px;
    border: 0px;
    max-width: 100px;
}

#main-poly .input-group
{
    margin: 4px;
}

.input-group-addon {

}